{% extends 'base.html' %}
{% block content %}
<h3>Agregar Proveedor</h3>
<form method="POST">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Nombre Proveedor</label>
      <input class="form-control" name="nombre_proveedor" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Persona de Contacto</label>
      <input class="form-control" name="contacto_persona" required>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>Teléfono</label>
      <input class="form-control" name="telefono" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Email</label>
      <input class="form-control" name="email" type="email" required>
    </div>
  </div>
  <div class="mb-3">
    <label>Dirección</label>
    <input class="form-control" name="direccion_proveedor" required>
  </div>
  <div class="row">
    <div class="col-md-6 mb-3">
      <label>RUC</label>
      <input class="form-control" name="ruc" required>
    </div>
    <div class="col-md-6 mb-3">
      <label>Fecha Registro</label>
      <input class="form-control" name="fecha_registro" type="date" value="{% now 'Y-m-d' %}" required>
    </div>
  </div>
  <button class="btn btn-primary" type="submit">Agregar Proveedor</button>
</form>
{% endblock %}